.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    font-family: Arial, sans-serif;
}

.login-card {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login-title {
    font-size: 1.5rem;
    color: #ff758c;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.login-button {
    background-color: #ff758c;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.login-button:hover {
    background-color: #ff527b;
    transform: scale(1.05);
}


.login-error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: center;
}
